
<div class="header-section">
    <div class="header-image">
        <div class="header-content">
            <div class="header-text">
                <div class="header-headline-wrap">
                    <div class="label cc-cover-label w-inline-block">Best place get support</div>
                    <div class="header-headline">Home For Homeless</div>
                    <p class="big-paragraph cc-cover-paragraph">We are always here</p>
                </div>
                <a href="@Url.Action("Visualisation","Home")" class="white-button w-inline-block">
                    <div>Explore more</div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="wrap">
        <div class="content-wrap">
            <h2 class="heading-5">Homeless in VIC.</h2>
            <p class="paragraph">From the most updated datasets in 2020, we can visualise the current state of homelessness in each state of Victoria. Volunteers may use this information to consider where they want to begin their mission to end homelessness..</p>
            <a href="@Url.Action("Visualisation","Home")" class="underlined-link cc-homepage-link">Learn More</a>
        </div>
        <div data-w-id="318555f1-bc08-58be-44dc-478b751daf62" style="opacity:0" class="subheadline-wrap cc-separate-subheadline">
            <div class="subheadline-deco-line"></div>
            <div class="label cc-subheadline w-inline-block">Your role</div>
            <div class="subheadline-deco-line"></div>
        </div>
        <div class="row_columns w-row">
            <div class="role_column w-col w-col-6">
                <div class="role_img_container"><img src="~/images/pexels-dave-morgan-2540671.jpg" loading="lazy" alt="" class="role_image"></div><a href="@Url.Action("Index","freeServices")" class="role_column_btn w-button">Seek Assistance</a>
            </div>
            <div class="role_column w-col w-col-6">
                <div class="role_img_container"><img src="~/images/Avatar-38.jpg" loading="lazy" alt="" class="role_image"></div><a href="@Url.Action("VolunteerOrgan","Home")" class="role_column_btn w-button">Provide support</a>
            </div>
        </div>
        @*<div data-w-id="930bee1e-b546-1ced-cb67-54d7abd532af" style="opacity:0" class="subheadline-wrap cc-separate-subheadline">
            <div class="subheadline-deco-line"></div>
            <div class="label cc-subheadline w-inline-block">a QUIZ ABOUT BEING A VOLUNTEER</div>
            <div class="subheadline-deco-line"></div>
        </div>
        <div data-w-id="2d2e750c-a2a7-4379-71a8-dcf95aece3c2" class="w-layout-grid magazine-section">
            <div id="w-node-dcf95aece3c3-40c7b209" class="magazine-content-wrap">
                <div class="magazine-text-wrap">
                    <div class="label cc-footer-section-headline w-inline-block">quiz Offer</div>
                    <h2 class="magazine-headline">To be a volunteer</h2>
                    <p id="w-node-dcf95aece3c7-40c7b209" class="paragraph">Do you have what it takes to become a volunteer.</p>
                </div>
                <a href="@Url.Action("Quiz","Home")" class="dark-button w-inline-block">
                    <div>Start QUIZ</div>
                </a>
            </div>
            <div id="w-node-478714fd826f-40c7b209" class="magazine-images-wrap">
                <div class="magazine-image"></div>
                <div class="magazine-small-images">
                    <div class="magazine-small-image-1"></div>
                    <div class="magazine-small-image-2"></div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<div class="parallax-section"></div>