
@{
    ViewBag.Title = "Visualisation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--<link href="~/Content/newquiznormalize.css" rel="stylesheet" />
<link href="~/Content/newquiz.css" rel="stylesheet" />
<link href="~/Content/newquizstyle.css" rel="stylesheet" />
<div class="section accent">
    <div class="w-container">
        <div class="visualization">
            <h2 class="section-heading centered white">visualization 1</h2>
            <div class="section-subheading center off-white">This is a visualization by Age</div>
            <div class='tableauPlaceholder' id='viz1599802675392' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2020-09-10&#47;Dashboard5&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='2020-09-10&#47;Dashboard5' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;20&#47;2020-09-10&#47;Dashboard5&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='zh-Hans' /><param name='filter' value='publish=yes' /></object></div>-->
@*<img src="images/volunteerStudy.jpg" loading="lazy" srcset="images/volunteerStudy.jpg 1080w, images/volunteerStudy.jpg 1600w" sizes="(max-width: 767px) 96vw, (max-width: 991px) 727.9947509765625px, 940px" alt="" class="image">*@
<!--<p class="paragraph">Analysis: This is an analysis. </p>
        </div>
    </div>
</div>
<div class="section accent">
    <div class="w-container">
        <div class="visualization">
            <h2 class="section-heading centered white">visualization 2- map chart</h2>
            <div class="section-subheading center off-white">Pie chart.</div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-9">
                <div class="analysis transparent">
                    <div class='tableauPlaceholder' id='viz1599805913683' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;JK&#47;JKFF86S7G&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='path' value='shared&#47;JKFF86S7G' /> <param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;JK&#47;JKFF86S7G&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>-->
@*<div class='tableauPlaceholder' id='viz1599711623738' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ho&#47;homelessinmap&#47;HomelessnessinDifferentStatespressandholdShifttomovearound&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='homelessinmap&#47;HomelessnessinDifferentStatespressandholdShifttomovearound' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ho&#47;homelessinmap&#47;HomelessnessinDifferentStatespressandholdShifttomovearound&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /><param name='filter' value='publish=yes' /></object></div>*@
<!--</div>
            </div>
            <div class="w-col w-col-3">
                <div class="analysis transparent">
                    <h3 class="text">analysis:</h3>
                    <p class="text">Analysis: This is an analysis.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section accent">
    <div class="w-container">
        <div class="visualization">
            <h2 class="section-heading centered white">visualization 3</h2>
            <div class="section-subheading center off-white">This is some text inside of a div block.</div>
        </div>
    </div>
</div>
<div class="section accent">
    <div class="w-container">
        <div class="w-row">
            <div class="w-col w-col-3">
                <div class="analysis transparent">
                    <h3 class="text">analysis:</h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p><a href="#" class="hollow-button">Learn more</a>
                </div>
            </div>
            <div class="w-col w-col-9">
                <div class="analysis transparent">
                    <div class='tableauPlaceholder' id='viz1599806034008' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Homelessoperationgroups2001&#47;Dashboard3&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Homelessoperationgroups2001&#47;Dashboard3' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Homelessoperationgroups2001&#47;Dashboard3&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>-->
@*<div class='tableauPlaceholder' id='viz1599654678728' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Homelessoperationgroups2001&#47;Homelessoperationgroups2001&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Homelessoperationgroups2001&#47;Homelessoperationgroups2001' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Homelessoperationgroups2001&#47;Homelessoperationgroups2001&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='zh-Hans' /><param name='filter' value='publish=yes' /></object></div>*@
@*</div>
            </div>
        </div>
        <div class="visualization">
            <h2 class="section-heading centered white">visualization4</h2>
            <div class="section-subheading center off-white">This is a visualization by suburb</div>
            <div>
                <div class='tableauPlaceholder' id='viz1599720991071' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ho&#47;homelessno_andpercentagebyStatein2016&#47;Sheet1&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='homelessno_andpercentagebyStatein2016&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;ho&#47;homelessno_andpercentagebyStatein2016&#47;Sheet1&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>
                <p class="paragraph">Analysis: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            </div>
        </div>
    </div>
</div>

<div class="section accent">
    <div class="w-container">
        <div class="visualization">
            <h2 class="section-heading centered white">visualization 2</h2>
            <div class="section-subheading center off-white">This is some text inside of a div block.</div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-9">
                <div class="analysis transparent">
                    <div class='tableauPlaceholder' id='viz1599721035441' style='position: relative'><noscript><a href='#'><img alt=' ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Homelessnumberchangeinyear&#47;Homelessnumberinyear&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Homelessnumberchangeinyear&#47;Homelessnumberinyear' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ho&#47;Homelessnumberchangeinyear&#47;Homelessnumberinyear&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en' /></object></div>
                </div>
            </div>
            <div class="w-col w-col-3">
                <div class="analysis transparent">
                    <h3 class="text">analysis:</h3>
                    <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p><a href="#" class="hollow-button">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>*@


@*map*@
@*pie*@
@*<script type='text/javascript'>var divElement = document.getElementById('viz1599806034008'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '727px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>
<script type='text/javascript'>var divElement = document.getElementById('viz1599720991071'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>


<script type='text/javascript'>var divElement = document.getElementById('viz1599717427795'); var vizElement = divElement.getElementsByTagName('object')[0]; vizElement.style.width = '100%'; vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px'; var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);</script>*@

<link href="~/Content/visualisation_normalize.css" rel="stylesheet" />
<link href="~/Content/viusalisation.css" rel="stylesheet" />
<link href="~/Content/visualisation_global.css" rel="stylesheet" />
<body class="body-2">
    <div class="introduction">
        <h1 class="heading-6">LIVE DATA ON HOMELESSNESS IN VICTORIA</h1>
        <h4 class="heading-7">Homelessness is a serious matter and is trulypreventable. <br></h4><img src="~/images/homelessweb.jpg" loading="lazy" alt="" class="image-6">
    </div>
    <div class="introduction">
        <h2 class="datavirpage centered">ANALYSIS</h2>
        <div class="visualization">
            <p class="paragraph-5">As proud citizens of Victoria, we can all make a difference.To help prevent homelessness we must first understand the underlying issue, its history, and the data behind it. Currently, there are many misconceptions and discriminations against homeless individuals and many people are not aware of the reality of the situation. By spreading awareness of the facts, the statistics, and the truth, we hope to be able to create a more supportive and accommodating environment to help the homeless get through a temporary bump in their lives. Together, we can and will end homelessness in Victoria.</p>
            <div class="w-layout-grid grid-2">

                <div class="analysis" onclick="location.href='@Url.Action("VisualisationDetailsAgeGroup", "Home")'" style="cursor: pointer" onmouseover="active(this)" onmouseout="normal(this)">
                    <img src="~/images/Cardboard.jpg" alt="@Url.Action("VisualisationDetailsAgeGroup","Home")" class="grid-image">
                    <h2 class="paragraph-4"><a href="@Url.Action("VisualisationDetailsAgeGroup","Home")">Homelessness in Age Groups</a></h2>
                    @*<p class="paragraph-4">Homeless opulation in age group</p>*@
                    <p class="paragraph-3">Where do the homeless stay?</p>
                </div>

                <div class="analysis" onclick="location.href='@Url.Action("VisualisationDetailsSuburb", "Home")'" style="cursor: pointer" onmouseover="active(this)" onmouseout="normal(this)">
                    <img src="~/images/Cardboard.jpg" alt="" class="grid-image">
                    <h2 class="paragraph-4"><a href="@Url.Action("VisualisationDetailsSuburb","Home")">Homeless by Suburb</a></h2>
                    <p class="paragraph-3">
                        The situation of homeless spread across VIC.
                    </p>
                </div>
                <div class="analysis" onclick="location.href='@Url.Action("VisualisationDetailsOperationGroups", "Home")'" style="cursor: pointer" onmouseover="active(this)" onmouseout="normal(this)">
                    <img src="~/images/Cardboard.jpg" alt="" class="grid-image">
                    <h2 class="paragraph-4">
                        <a href="@Url.Action("VisualisationDetailsOperationGroups","Home")">Homeless Accommodation</a>
                    </h2>
                    <p class="paragraph-3">Where do the homeless stay?</p>
                </div>

                <div class="analysis" onclick="location.href='@Url.Action("VisualisationDetailsState", "Home")'" style="cursor: pointer" onmouseover="active(this)" onmouseout="normal(this)">
                    <img src="~/images/Cardboard.jpg" alt="" class="grid-image">
                    <h2 class="paragraph-4"><a href="@Url.Action("VisualisationDetailsState","Home")">Homeless by State</a></h2>
                    <p class="paragraph-3">  Homelessness in Australia </p>
                </div>

                <div class="analysis" onclick="location.href='@Url.Action("VisualisationDetailsNumberByYear", "Home")'" style="cursor: pointer" onmouseover="active(this)" onmouseout="normal(this)">
                    <img src="~/images/Cardboard.jpg" alt="" class="grid-image">
                    <h2 class="paragraph-4"><a href="@Url.Action("VisualisationDetailsNumberByYear","Home")">Growth of Homelessness</a></h2>
                    <p class="paragraph-3">How the numbers of homelessness have changed over the years in VIC.</p>
                </div>
                <div class="analysis" onclick="location.href='@Url.Action("VisualisationGender", "Home")'" style="cursor: pointer" onmouseover="active(this)" onmouseout="normal(this)">
                    <img src="~/images/Cardboard.jpg" alt="" class="grid-image">
                    <h2 class="paragraph-4"><a href="@Url.Action("VisualisationGender","Home")">Gender of homelessness</a></h2>
                    <p class="paragraph-3">Statistics of gender in Homelessindividuals</p>
                </div>
            </div>
            <div><br></div>
        </div>
    </div>
</body>

<script>
    function active(x) {
        x.style.backgroundColor = "gainsboro";
    }

    function normal(x) {
        x.style.backgroundColor = "white";
    }
</script>