@using PagedList.Mvc
@model  HomeForHomeless.ViewModel.CharityList

@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    ViewBag.Title = "VictoriaCharity"; 
    Layout = "~/Views/Shared/_Layout.cshtml";}
@*<link href="~/Content/detail_pop_up.css" rel="stylesheet" />*@

<style>
    .free-service-dropdown {
        border: 1px solid rgba(113, 148, 144, 0.5);
        margin-right: 1%;
    }

    .property-image-wrap {
        height: 50%;
    }

    .free-service-dropdown {
        min-height: 52px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 50px;
        background-color: #f6f6f6;
    }

    .filter-wrap {
        margin-bottom: 48px;
        padding: 42px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 8px 80px 55px -50px rgba(0, 0, 0, 0.13);
    }

    .itemcontent {
        width: auto;
    }
</style>

<body>
    <!--- Search Results Section-->
    <div  data-w-id="eb106516-8133-4cfd-47d6-1eb8172e08df" class="col-12 text-center" id="firstelement" style="display:none;">
        <h1 data-w-id="d25fccb8-3525-aa4f-247c-4304203d6ac1" class="covid19sectiontitle-2" style="text-align:center">Charities ‍<span class="brand-span">in Victoria</span></h1>
        <div class="border-top border-primary w-25 mx-auto my03"></div>
        <p class="lead">
            Find the nearest charitable organisation.
        </p>
    </div>
    <div class="col-12 text-center mt-3 filter-wrap">
        <form asp-action="Index" method="get" class="form-inline row justify-content-center">
            <input type="search" class="mt-2 free-service-dropdown btn aqua-gradient btn-rounded btn-sm" style="text-align:left;" maxlength="256" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Suburb/Name" id="search" aria-label="Search">
            @Html.DropDownList("Category", null, htmlAttributes: new { @class = "mt-2 free-service-dropdown btn aqua-gradient btn-rounded btn-sm" })
            <button class="mt-2 free-service-dropdown btn aqua-gradient btn-rounded btn-sm" type="submit">FIND NOW</button>
        </form>
    </div>

    <!--- Three column Section -->
    <div class="container-2 mt-5">
        @if (Model != null)
        {
        <div class="w-layout-grid grid-9" style="text-align: center;">
            @foreach (var item in Model.Charities)
            {
            <div class="item-card">
                @{
                    switch (item.charity_Id % 9)
                    {
                        case 1:
                            <div class="property-image-wrap">
                                <img src="~/Images/charity1.png" loading="lazy" alt="VictoriaCharity" class="itemimage">
                            </div>
                            break;
                        case 2:
                            <div class="property-image-wrap">
                                <img src="~/Images/charity2.png" loading="lazy" alt="VictoriaCharity" class="itemimage">
                            </div> break;
                        case 3:
                            <div class="property-image-wrap">
                                <img src="~/Images/charity3.png" loading="lazy" alt="VictoriaCharity" class="itemimage">
                            </div> break;
                        case 4:
                            <div class="property-image-wrap">
                                <img src="~/Images/charity4.png" loading="lazy" alt="VictoriaCharity" class="itemimage">
                            </div> break;
                        case 5:
                            <div class="property-image-wrap">
                                <img src="~/Images/charity5.png" loading="lazy" alt="VictoriaCharity" class="itemimage">
                            </div> break;
                        case 6:
                            <div class="property-image-wrap">
                                <img src="~/Images/charity6.png" loading="lazy" alt="VictoriaCharity" class="itemimage">
                            </div> break;
                        case 7:
                            <div class="property-image-wrap">
                                <img src="~/Images/charity7.png" loading="lazy" alt="VictoriaCharity" class="itemimage">
                            </div> break;
                        case 8:
                            <div class="property-image-wrap">
                                <img src="~/Images/charity8.png" loading="lazy" alt="VictoriaCharity" class="itemimage">
                            </div> break;
                        case 0:
                            <div class="property-image-wrap">
                                <img src="~/Images/charity9.png" loading="lazy" alt="VictoriaCharity" class="itemimage">
                            </div> break;

                    }
                }
                <div class="property-content" style="height:120px;">
                    <h5>@item.charity_name</h5>
                    <div>@item.address_line_1 @item.address_line_2</div>
                </div>
                <input type="button" onclick="charityPopup(@serializer.Serialize(item))" value="Learn More" class="itembutton w-button" style="margin-left:auto;" />
            </div>
            }
        </div>
        }
    </div>
    <div style="opacity:0" class="popup" id="cpopup">
        <div data-w-id="04556d3a-b909-e374-d452-f5e9fc9bf975" style="display:block;opacity:1" class="div-block-3">
            <div class="div-block-4">
                <div class="closebutton"><img src="~/images/Cart-Close-Icon_1Cart-Close-Icon.png" loading="lazy" data-w-id="001e3862-a1b8-0709-b79d-2d95544be38f" alt="" class="image-4" style="cursor:pointer;" onclick="closepopup()"></div>
            </div>
            <h3 class="heading-9">charity</h3>
            <div class="iteminformation mt-5">
                <div class="office-info" style="margin: -20px auto auto">
                    <div class="itemdetails">
                        <p class="paragraph itemcontent" id="name">Name:</p>
                        <p class="paragraph itemcontent" id="address">Address:</p>
                        <p class="paragraph itemcontent" id="suburb">Suburb:</p>
                        <p class="paragraph itemcontent" id="Registration_Status">Registration Status: </p>
                        <p class="paragraph itemcontent" id="main_beneficiaries">Main Beneficiaries:</p>
                        <p class="paragraph itemcontent" id="main_activity">Main Activity:</p>
                        <p class="paragraph itemcontent" id="charity_size">Charity Size:</p>
                    </div>
                    <input type="button" onclick="closepopup()" value="OK" class="button-8 w-button" style=" padding-top: 10px; padding-right: 10%; padding-bottom: 10px; padding-left: 10%;" />
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>

    @* code to display page count based on the data in the database. *@

    <div class="pagecount" style="margin:auto; text-align:center">
        Page @(Model.Charities.PageCount < Model.Charities.PageNumber ? 0 : Model.Charities.PageNumber)
        of @Model.Charities.PageCount   @Html.PagedListPager(Model.Charities, page => Url.Action("Index", new { page, currentfilter = ViewBag.currentfilter, currentCategory = ViewBag.currentCategory }))
    </div>
</body>


<script>
    //document.getElementById("").addEventListener("click", showPopUp);
    function charityPopup(jsonData) {
        document.getElementById("cpopup").style.opacity = 1;
        document.getElementById("cpopup").style.display = "block";
        document.getElementById("cpopup").style.top = 0;
        document.getElementById("cpopup").style.left = 0;
        document.getElementById("name").innerHTML = "<strong>Name:&nbsp;</strong> " + jsonData.charity_name;
        if (jsonData.address_line_2 != null) {
            document.getElementById("address").innerHTML = "<strong>Address:&nbsp;</strong> " + jsonData.address_line_1 + ", " + jsonData.address_line_2 + " " + jsonData.town_city;
        }
        else {
            document.getElementById("address").innerHTML = "<strong>Address:&nbsp;</strong>" + jsonData.address_line_1 + ", " + jsonData.town_city;
        }
        document.getElementById("suburb").innerHTML = "<strong>Suburb:&nbsp;</strong>" + jsonData.town_city;
        document.getElementById("Registration_Status").innerHTML = "<strong>Registration Status:&nbsp;</strong>" + jsonData.Registration_Status;
        document.getElementById("main_beneficiaries").innerHTML = "<strong>Main Beneficiaries:&nbsp;</strong>" + jsonData.main_beneficiaries;
        document.getElementById("main_activity").innerHTML = "<strong>Main Activity:&nbsp;</strong>" + jsonData.main_activity;
        document.getElementById("charity_size").innerHTML = "<strong>Charity Size:&nbsp;</strong>" + jsonData.charity_size;
    }

    function closepopup() {
        document.getElementById("cpopup").style.opacity = 0;
        document.getElementById("cpopup").style.display = "none";
    }
</script>
<script>
    var navi = document.getElementById("navigation-bar");
    window.onload = function myFunction() {
        document.getElementById("firstelement").style.marginTop = navi.offsetHeight + 10 + "px";
        document.getElementById("firstelement").style.display = "block";

    }
</script>
