@using PagedList.Mvc
@model  HomeForHomeless.ViewModel.CharityList

@{
    ViewBag.Title = "VictoriaCharity"; }

<body>
    <!--- Search Results Section-->
    <div class="col-12 text-center mt-5">
        <h1 class="text-dark pt4">Available Charities</h1>
        <div class="border-top border-primary w-25 mx-auto my03"></div>
        <p class="lead">Charity near you</p>
    </div>
    <div class="col-12 text-center mt-5">
        <form asp-action="Index" method="get" class="form-inline row justify-content-center">
            <input type="search" class="form-control mr-sm-2" maxlength="256" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Charities" id="search" required="" aria-label="Search">
            <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">FIND NOW</button>
        </form>
    </div>

    <!--- Three column Section -->
    <div class="container">
            @if (Model != null)
             {
                <div class="row">
                @foreach (var item in Model.Charities)
                {
                    <div class="col-md-4 my-4" style="text-align:center;">
                        <img src="~/Images/favicon.png" alt="" class="w-100">
                        <div class="h4 my-4">
                            @item.charity_name
                        </div>
                        <p>
                            @item.address_line_1, @item.address_line_2
                        </p>
                        <a href="@Url.Action("Details", "VictoriaCharities",new { id = @item.charity_Id})" class="btn btn-outline-dark btn-md">See More</a>
                    </div>
                }
                    </div>
            }
    </div>

    <br>
    <br>

    @* code to display page count based on the data in the database. *@

    <div class="pagecount" style="margin:auto; text-align:center">
        Page @(Model.Charities.PageCount < Model.Charities.PageNumber ? 0 : Model.Charities.PageNumber)
        of @Model.Charities.PageCount   @Html.PagedListPager(Model.Charities, page => Url.Action("Index", new { page, currentfilter = ViewBag.currentfilter }))
    </div>
</body>
