@model HomeForHomeless.Models.freeService
@{
    ViewBag.Title = "Free Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #map {
        position: relative;
        top: 0;
        bottom: 0;
        width: 100%;
        height:100%;
    }

    #instructions {
        position: absolute;
        margin: 20px;
        width: 25%;
        top: 0;
        bottom: 20%;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        overflow-y: scroll;
        font-family: sans-serif;
        font-size: 0.8em;
        line-height: 2em;
    }

    .duration {
        font-size: 2em;
    }
</style>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

<div class="content cc-deco-block-wrap">
    <div class="deco-block">
        <div class="wrap">
            <div class="page-headline-wrap cc-overlayed-headline">
                <h1 class="heading">Free Service Details</h1>
                <p class="big-paragraph">Finding a free service to help. </p>
                <hr>
            </div>
        </div>
    </div>
</div>
<div>
    <dl class="dl-horizontal coordinates" style="display:none;">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd class="Address">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd class="Longitude">
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd class="Latitude">
            @Html.DisplayFor(model => model.Latitude)
        </dd>

    </dl>
</div>
<div class="wrap" style="margin-top:-100px; margin-bottom:3%;" >
    <div class="map_container w-container" id="services_map" style="text-align:center;">
        <div id='map' style="overflow: visible;"></div>
        <div id="instructions"></div>
    </div>
</div>

<script src="~/Scripts/mapbox.js"></script>

