@model HomeForHomeless.Models.freeService

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        margin: 0;
        padding: 0;
    }

    #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    #instructions {
        position: absolute;
        margin: 20px;
        width: 25%;
        top: 0;
        bottom: 20%;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        overflow-y: scroll;
        font-family: sans-serif;
        font-size: 0.8em;
        line-height: 2em;
    }

    .duration {
        font-size: 2em;
    }
</style>

<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

<h2>Details</h2>

<div>
    <h4>freeService</h4>
    <hr />
    <dl class="dl-horizontal coordinates" style="display:none;">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd class="Address">
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suburb)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suburb)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tram_routes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tram_routes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd class="Longitude">
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd class="Latitude">
            @Html.DisplayFor(model => model.Latitude)
        </dd>

    </dl>
</div>

<div id='map'></div>
<div id="instructions"></div>

<script src="~/Scripts/mapbox.js"></script>