@using PagedList.Mvc
@model  HomeForHomeless.ViewModel.FreeServiceList

@{
    ViewBag.Title = "FreeServices"; }

<h2>FreeServices</h2>

<body>
    <div class="col-12 text-center mt-5">
        <h1 class="text-dark pt4">Available Services</h1>
        <div class="border-top border-primary w-25 mx-auto my03"></div>
        <p class="lead">Free services near you</p>
    </div>
    <div class="col-12 text-center mt-5">
        <form asp-action="Index" method="get" class="form-inline row justify-content-center">
            <input type="search" class="form-control mr-sm-2" maxlength="256" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Services" id="search" required="" aria-label="Search">
            <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit" style="border:solid">FIND NOW</button>
        </form>
    </div>


    @* iterative code to display all the appliance in database in grids of cards.  *@

    <div class="container">
        @if (Model != null)
        {
            <div class="row">
                @foreach (var item in Model.freeServices)
                {
                    <div class="col-md-4 my-4" style="text-align:center;">
                        <img src="~/Images/favicon.png" alt="" class="w-100">
                        <div class="h4 my-4">
                            @item.Name
                        </div>
                        <p>
                            @item.Address
                        </p>
                        <a href="@Url.Action("Details", "freeServices",new { id = @item.service_Id})" class="btn btn-outline-dark btn-md">See More</a>
                    </div>
                }
            </div>
        }
    </div>

    <br>
    <br>

    @* code to display page count based on the data in the database. *@

    <div class="pagecount" style="margin:auto; text-align:center">
        Page @(Model.freeServices.PageCount < Model.freeServices.PageNumber ? 0 : Model.freeServices.PageNumber)
        of @Model.freeServices.PageCount   @Html.PagedListPager(Model.freeServices, page => Url.Action("Index", new { page, currentfilter = ViewBag.currentfilter }))
    </div>
</body>
