@using PagedList.Mvc
@model  HomeForHomeless.ViewModel.VCList

@{
    ViewBag.Title = "VolunteerCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="content">
        <div class="wrap">
            <div class="page-headline-wrap cc-category-headline">
                <h1 class="heading-7">Charity</h1>
                <p class="big-paragraph">A WAY TO HELP YOU</p>
                <hr>
            </div>
            <div data-animation="slide" data-nav-spacing="5" data-duration="500" data-infinite="1" class="slider w-slider" >
                <div class="w-slider-mask">
                    <div class="w-slide">
                        <div class="w-dyn-list">
                            <div role="list" class="w-dyn-items">
                                <div role="listitem" class="w-dyn-item">
                                    <div class="slide-wrap">
                                        <div class="slider-image-wrap">
                                            <div class="slide1-product-slider"></div>
                                        </div>
                                        <div class="slider-text-wrap">
                                            <div class="slide-content">
                                                <h2>Charity brings to life again those who are spiritually dead.</h2>
                                                <p id="w-node-1851e34e161e-0dc7b219" class="paragraph">-Thomas Aquinas</p>
                                            </div>
                                            <a href="https://en.wikipedia.org/wiki/Thomas_Aquinas" target="_blank" class="dark-button w-inline-block">
                                                <div>Link to <strong><em>Wikipedia</em></strong></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-slide">
                        <div class="slide-wrap">
                            <div class="slider-image-wrap">
                                <div class="slide-image cc-slider-image-2"></div>
                            </div>
                            <div class="slider-text-wrap">
                                <div class="slide-content">
                                    <h2><em>Every man must decide whether he will walk in the light of creative altruism or in the darkness of destructive selfishnes.</em></h2>
                                    <p id="w-node-1851e34e162a-0dc7b219" class="paragraph">-<strong>Martin Luther King, Jr.</strong></p>
                                </div>
                                <a href="https://en.wikipedia.org/wiki/Martin_Luther_King_Jr." target="_blank" class="dark-button w-inline-block">
                                    <div>Link to <strong><em>Wikipedia</em></strong></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left-arrow w-slider-arrow-left"><img src="~/images/Arrow_1Arrow.png" width="12" alt=""></div>
                <div class="right-arrow w-slider-arrow-right"><img src="~/images/Arrow-R_1Arrow-R.png" width="12" alt=""></div>
                <div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
            </div>
        </div>
    </div>

    <div class="col-12 text-center mt-5">
        <form asp-action="Index" method="get" class="form-inline row justify-content-center">
            <input type="search" class="form-control mr-sm-2" maxlength="256" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search by postcode" id="search" required="" aria-label="Search">
            <button class="btn aqua-gradient btn-rounded btn-sm my-0" type="submit">FIND NOW</button>
        </form>
    </div>
    @* iterative code to display all the appliance in database in grids of cards.  *@

    <div class="container">
        @if (Model != null)
        {
            <div class="row">
                @foreach (var item in Model.VCs)
                {
                    <div class="col-md-4 my-4" style="text-align:center;">

                        <img src="~/Images/organCenter.jpg" alt="" class="w-100">
                        <div class="h4 my-4">
                            @item.Name
                        </div>
                        <p>
                            @item.Address
                        </p>
                        <a href="@Url.Action("Details", "VolunteerCenters",new { id = @item.VolunteerCenter_Id})" class="btn btn-outline-dark btn-md">See More</a>
                    </div>
                }
            </div>
        }
    </div>


    <br>
    <br>

    @* code to display page count based on the data in the database. *@

    <div class="pagecount" style="margin:auto; text-align:center">
        Page @(Model.VCs.PageCount < Model.VCs.PageNumber ? 0 : Model.VCs.PageNumber)
        of @Model.VCs.PageCount   @Html.PagedListPager(Model.VCs, page => Url.Action("Index", new { page, currentfilter = ViewBag.currentfilter }))
    </div>
</body>
