@using PagedList.Mvc
@model  HomeForHomeless.ViewModel.VCList

@{
    var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
    ViewBag.Title = "VolunteerCenter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/detail_pop_up.css" rel="stylesheet" />*@

@*<div class="provdesupportheadersection">
    <div class="slider-content">
        <div class="slide-content-wrap">
            <div class="container-2">
                <h1 data-w-id="943bce3b-d498-830e-b1da-213004a4fea5" class="headersectiontitle">Volunteer<br>‍<span class="brand-span">Center</span></h1>
                <p data-w-id="943bce3b-d498-830e-b1da-213004a4feab" class="headersectionparagraph">Provide your effor for homeless by joining charity organisations, volunteer centers, or you can also donate directly.</p>
            </div>
        </div>
    </div>
    <div class="slider-wrapper">
        <div data-delay="8000" data-animation="cross" data-autoplay="1" data-easing="ease-out" data-disable-swipe="1" data-duration="800" class="slider w-slider">
            <div class="w-slider-mask">
                <div class="slide w-slide">
                    <div class="slide-image"></div>
                </div>
                <div class="slide w-slide">
                    <div class="slide-image slide-image-two"></div>
                </div>
            </div>
            <div class="left-arrow-2 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="right-arrow-2 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-2 w-slider-nav w-round"></div>
        </div>
    </div>
</div>*@


<style>
    .free-service-dropdown {
        border: 1px solid rgba(113, 148, 144, 0.5);
        margin-right: 1%;
    }

    .property-image-wrap {
        height: 50%;
    }

    .free-service-dropdown {
        min-height: 52px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 50px;
        background-color: #f6f6f6;
    }

    .filter-wrap {
        margin-bottom: 48px;
        padding: 42px;
        border-radius: 20px;
        background-color: #fff;
        box-shadow: 8px 80px 55px -50px rgba(0, 0, 0, 0.13);
    }

    .itemcontent {
        width: auto;
    }
</style>

<body>
    <div  data-w-id="eb106516-8133-4cfd-47d6-1eb8172e08df" class="col-12 text-center" id="firstelement" style="display:none;">
        <h1 class="covid19sectiontitle-2" style="text-align:center">Volunteer ‍<span class="brand-span">Center</span></h1>
        <div class="border-top border-primary w-25 mx-auto my03"></div>
        <p class="lead">Help us end homelessness</p>
    </div>

    <div class="col-12 text-center mt-3 filter-wrap">
        <form asp-action="Index" method="get" class="form-inline row justify-content-center">
            <input type="search" class="mt-2 free-service-dropdown btn aqua-gradient btn-rounded btn-sm" style="text-align:left;" maxlength="256" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Suburb/Name" id="search" aria-label="Search">
            @Html.DropDownList("Category", null, htmlAttributes: new { @class = "mt-2 free-service-dropdown btn aqua-gradient btn-rounded btn-sm", style = "font-size:inherit;" })
            <button class="mt-2 free-service-dropdown btn aqua-gradient btn-rounded btn-sm" type="submit">FIND NOW</button>
        </form>
    </div>
    @* iterative code to display all the appliance in database in grids of cards.  *@

    <div class="container-2 mt-5">
        @if (Model != null)
        {
            <div class="w-layout-grid grid-9" style="text-align: center;">
                @foreach (var item in Model.VCs)
                {
                    <div class="item-card">
                        @{
                            switch (item.VolunteerCenter_Id % 9)
                            {
                                case 1:
                                    <div class="property-image-wrap">
                                        <img src="~/Images/v1.png" loading="lazy" alt="VolunteerCenter" class="itemimage">
                                    </div>
                                    break;
                                case 2:
                                    <div class="property-image-wrap">
                                        <img src="~/Images/v2.png" loading="lazy" alt="VolunteerCenter" class="itemimage">
                                    </div>
                                    break;
                                case 3:
                                    <div class="property-image-wrap">
                                        <img src="~/Images/v3.png" loading="lazy" alt="VolunteerCenter" class="itemimage">
                                    </div>
                                    break;
                                case 4:
                                    <div class="property-image-wrap">
                                        <img src="~/Images/v4.png" loading="lazy" alt="VolunteerCenter" class="itemimage">
                                    </div>
                                    break;
                                case 5:
                                    <div class="property-image-wrap">
                                        <img src="~/Images/v5.png" loading="lazy" alt="VolunteerCenter" class="itemimage">
                                    </div>
                                    break;
                                case 6:
                                    <div class="property-image-wrap">
                                        <img src="~/Images/v6.png" loading="lazy" alt="VolunteerCenter" class="itemimage">
                                    </div>
                                    break;
                                case 7:
                                    <div class="property-image-wrap">
                                        <img src="~/Images/v7.png" loading="lazy" alt="VolunteerCenter" class="itemimage">
                                    </div>
                                    break;
                                case 8:
                                    <div class="property-image-wrap">
                                        <img src="~/Images/v8.png" loading="lazy" alt="VolunteerCenter" class="itemimage">
                                    </div>
                                    break;
                                case 0:
                                    <div class="property-image-wrap">
                                        <img src="~/Images/v9.png" loading="lazy" alt="VolunteerCenter" class="itemimage">
                                    </div>
                                    break;

                            }
                        }
                        <div class="property-content" style="height:120px;">
                            <h5>@item.Name</h5>
                            <div>@item.Address</div>
                        </div>
                        <input type="button" onclick="vcPopUp(@serializer.Serialize(item))" value="Learn More" class="itembutton w-button" style="margin-left:auto;" />
                    </div>
                }
            </div>
        }
    </div>
    <div style="opacity:0" class="popup" id="vcPopUp">
        <div data-w-id="04556d3a-b909-e374-d452-f5e9fc9bf975" style="display:block;opacity:1" class="div-block-3">
            <div class="div-block-4">
                <div class="closebutton"><img src="~/images/Cart-Close-Icon_1Cart-Close-Icon.png" loading="lazy" data-w-id="001e3862-a1b8-0709-b79d-2d95544be38f" alt="" class="image-4" style="cursor:pointer;" onclick="closepopup()"></div>
            </div>
            <h3 class="heading-9">Vounteer Center</h3>
            <div class="iteminformation mt-5">
                <div class="office-info" style="margin: -20px auto auto">
                    <div class="itemdetails">
                        <p class="paragraph itemcontent" id="name">Name:</p>
                        <p class="paragraph itemcontent" id="address">Address:</p>
                        <p class="paragraph itemcontent" id="suburb">Suburb:</p>
                        <p class="paragraph itemcontent" id="LGA">LGA: </p>
                        <p class="paragraph itemcontent" id="Region">Region:</p>
                        <p class="paragraph itemcontent" id="Business_Category">Business Category:</p>
                    </div>
                    <input type="button" onclick="closepopup()" value="OK" class="button-8 w-button" style=" padding-top: 10px; padding-right: 10%; padding-bottom: 10px; padding-left: 10%;
    }
" />

                </div>
            </div>
        </div>
    </div>
    @*<div style="opacity:0" class="popup" id="vcPopUp">
            <div data-w-id="04556d3a-b909-e374-d452-f5e9fc9bf975" style="display:block;opacity:1" class="div-block-3">
                <div class="div-block-4">
                    <img src="~/images/Cart-Close-Icon_1Cart-Close-Icon.png" loading="lazy" data-w-id="75537ccf-64c6-c9e6-6693-1d44302236d9" alt="" class="image-4" onclick="closepopup()" style="cursor:pointer;">
                </div>
                <h1 class="heading-9" id="name">Victoria Charity</h1>
                <div class="office-info">
                    <p class="paragraph" id="address">Address:</p>
                    <p class="paragraph" id="suburb">Suburb:</p>
                    <p class="paragraph" id="LGA">LGA: </p>
                    <p class="paragraph" id="Region">Region: </p>
                    <p class="paragraph" id="Business_Category">Business Category: </p>
                </div>
                <input type="button" onclick="closepopup()" value="OK" class="button w-button" />
            </div>
        </div>*@

    <br>
    <br>

    @* code to display page count based on the data in the database. *@

    <div class="pagecount" style="margin:auto; text-align:center">
        Page @(Model.VCs.PageCount < Model.VCs.PageNumber ? 0 : Model.VCs.PageNumber)
        of @Model.VCs.PageCount   @Html.PagedListPager(Model.VCs, page => Url.Action("Index", new { page, currentfilter = ViewBag.currentfilter, currentCategory = ViewBag.currentCategory }))
    </div>
</body>

<script>
    //document.getElementById("").addEventListener("click", showPopUp);
    function vcPopUp(jsonData) {
        document.getElementById("vcPopUp").style.opacity = 1;
        document.getElementById("vcPopUp").style.display = "block";
        document.getElementById("vcPopUp").style.top = 0;
        document.getElementById("vcPopUp").style.left = 0;
        document.getElementById("name").innerHTML = jsonData.Name;
        document.getElementById("address").innerHTML = "<strong>Address: </strong>" + jsonData.Address + ", " + jsonData.Suburb;
        document.getElementById("suburb").innerHTML = "<strong>Suburb: </strong>" + jsonData.Suburb;
        document.getElementById("LGA").innerHTML = "<strong>Local Government Area: </strong>" + jsonData.LGA;
        document.getElementById("Region").innerHTML = "<strong>Region: </strong>" + jsonData.Region;
        document.getElementById("Business_Category").innerHTML = "<strong>Business Category: </strong>" + jsonData.Business_Category;
    }

    function closepopup() {
        document.getElementById("vcPopUp").style.opacity = 0;
        document.getElementById("vcPopUp").style.display = "none";
    }
</script>
<script>
    var navi = document.getElementById("navigation-bar");
    window.onload = function myFunction() {
        document.getElementById("firstelement").style.marginTop = navi.offsetHeight + 10 + "px";
        document.getElementById("firstelement").style.display = "block";

    }
</script>
